.weather-widget {
	/* Typography */
	--ww-font-family: 'Oswald', Helvetica, Arial, sans-serif;
	--ww-font-size-xs: 0.75rem;
	--ww-font-size-sm: 1rem;
	--ww-font-size-md: 1.25rem;
	--ww-font-size-lg: 1.5rem;
	--ww-font-size-xl: 2rem;
	--ww-font-size-xxl: 4rem;

	--ww-line-height-xxs: 1;
	--ww-line-height-xs: 1.1;
	--ww-line-height-sm: 1.2;
	--ww-line-height-md: 1.3;
	--ww-line-height-lg: 1.4;

	/* Font weights */
	--ww-font-weight-light: 300;
	--ww-font-weight-regular: 400;
	--ww-font-weight-default: 500;

	/* Spacing */
	--ww-spacing-xxs: 0.5rem;
	--ww-spacing-xs: 0.625rem;
	--ww-spacing-sm: 0.75rem;
	--ww-spacing-md: 1rem;
	--ww-spacing-lg: 1.5rem;

	/* Colors */
	--ww-text-color: #000;
	--ww-text-color-night: rgba(237, 241, 255, 0.95);
	--ww-text-color-muted: #617982;

	/* Backgrounds */
	--ww-background-day: linear-gradient(180deg, #aed8e5 0%, #88cee8 100%);
	--ww-background-night: url('../assets/background-night.jpg');
	--ww-background-faded: rgba(255, 255, 255, 0.1);
	--ww-background-faded-night: rgba(0, 0, 0, 0.15);

	/* Border */
	--ww-border-radius-xs: 0.25rem;
	--ww-border-radius-sm: 0.5rem;
	--ww-border-radius-md: 1rem;
	--ww-border-radius-lg: 1.5rem;
	--ww-border-radius-full: 50%;

	/* Misc */
	--ww-widget-max-width: 32.5rem;
	--ww-widget-min-height: 33.7rem;
	--ww-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
