.weather-widget-header {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;

	& .location {
		font-size: 1.7rem;
		font-weight: var(--ww-font-weight-regular);
		line-height: var(--ww-line-height-sm);
	}

	& .description {
		text-transform: capitalize;
	}

	& .refresh-button {
		background-color: transparent;
		border: 0;
		cursor: pointer;
		position: absolute;
		right: var(--ww-spacing-xxs);
		top: var(--ww-spacing-xxs);
	}
}
